/* 
didactic purposes
Some items are intentionally not optimized or not coded in the right way
FastTrackIT 2015,
version 1.0
*/

body {
    background-image: url('img/lemons1.jpg');
    background-color: lemonchiffon;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 125%;
    padding: 0;
    margin: 0;

}


h1 {
    font-size: large;
    background-color: yellowgreen;
    color: white;
    padding-top: 2em;
    padding-bottom: .2em;
    padding-left: .4em;
    margin: 0;
}

#tagline p {
    font-style: italic;
    font-family: Georgia, Times, serif;
    background-color: greenyellow;
    border-top: 3px solid #7da5d8;
    border-bottom: 3px solid #7da5d8;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: .8em;
    margin: 0;
}

#header {
    position: absolute;
    border-top: 3px solid #7da5d8;
    width: 100%;
}

#navigation {
    position: absolute;
    top: 110px;
    width: 180px;
    height: 130px;
    background-color: transparent;
    color:black;
    padding-left: .8em;
;
}

#bodycontent {
    position: absolute;
    left: 170px;
    top: 120px;
    padding-top:.4em;
    padding-left:2em;
}

#postcontent {
    position: absolute;
    left: 390px;
    top: 110px;
    width: 180px;
    height:130px;
    background-color: transparent;
    color:black;
    padding-left: .8em;
;
}

#serverResponse {
    position: absolute;
    top: 210px;
    left: 190px;
    width: 190px;
    color: lightyellow;
    padding-left: .8em;
}
#form
{
    color:lightyellow;
}












/* padding - between border and text -*/


/* class selector*/
.test {
    color: #aa0044;
}

.highlight {
    border-width: 10px;
    border-style: inset;
    border-color: #999999;
}